.style_episodeCardContainer__pC547,
.style_studioEpisodeCardContainer__TMHdF {
    flex-basis: 100%
}

@media only screen and (min-width:520px) {

    .style_episodeCardContainer__pC547,
    .style_studioEpisodeCardContainer__TMHdF {
        flex-basis: calc(50% - .75rem)
    }
}

@media only screen and (min-width:768px) {

    .style_episodeCardContainer__pC547,
    .style_studioEpisodeCardContainer__TMHdF {
        flex-basis: calc(33.333% - .75rem)
    }
}

@media only screen and (min-width:1280px) {

    .style_episodeCardContainer__pC547,
    .style_studioEpisodeCardContainer__TMHdF {
        flex-basis: calc(25% - .75rem)
    }
}

@media only screen and (min-width:1536px) {
    .style_episodeCardContainer__pC547 {
        flex-basis: calc(20% - .75rem)
    }
}

@media only screen and (min-width:1920px) {
    .style_episodeCardContainer__pC547 {
        flex-basis: calc(16.666% - .75rem)
    }
}

@media only screen and (min-width:2560px) {
    .style_episodeCardContainer__pC547 {
        flex-basis: calc(12.5% - .75rem)
    }
}

@media only screen and (min-width:3440px) {
    .style_episodeCardContainer__pC547 {
        flex-basis: calc(11.111% - .75rem)
    }
}

.Input_input__lCn2V {
    padding: .625rem !important;
    height: 40px
}

.Input_input__lCn2V:hover:before {
    border-bottom-width: 2px !important;
    --tw-border-opacity: 1 !important;
    border-color: rgb(177 180 185/var(--tw-border-opacity)) !important
}

.Input_input__lCn2V:before {
    border-bottom-width: 2px !important;
    --tw-border-opacity: 1 !important;
    border-color: rgb(140 145 155/var(--tw-border-opacity)) !important
}

.Input_input__lCn2V input {
    width: inherit;
    height: inherit;
    padding: .625rem !important;
    font-size: .875rem !important;
    line-height: 1.25rem !important;
    font-weight: 500 !important;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255/var(--tw-text-opacity)) !important
}

.Input_input__lCn2V input::placeholder {
    --tw-placeholder-opacity: 1 !important;
    color: rgb(177 180 185/var(--tw-placeholder-opacity)) !important;
    opacity: 1 !important
}

.Input_input__lCn2V textarea {
    padding: .625rem !important;
    font-size: .875rem !important;
    line-height: 1.25rem !important;
    font-weight: 500 !important;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255/var(--tw-text-opacity)) !important
}

.Input_input__lCn2V textarea::placeholder {
    --tw-placeholder-opacity: 1 !important;
    color: rgb(177 180 185/var(--tw-placeholder-opacity)) !important
}

.Input_disabled__8Fr4a {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(140 145 155/var(--tw-bg-opacity)) !important
}

.Input_disabled__8Fr4a input {
    padding: .625rem !important;
    font-size: .875rem !important;
    line-height: 1.25rem !important;
    font-weight: 500 !important;
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255/var(--tw-text-opacity)) !important
}

.Input_disabled__8Fr4a input::placeholder {
    --tw-placeholder-opacity: 1 !important;
    color: rgb(177 180 185/var(--tw-placeholder-opacity)) !important
}

.Input_disabled__8Fr4a:before {
    border-style: none !important
}

.Input_datePickerDialog__OslVk div {
    background-color: "red" !important
}

.Input_icon__Mv_ZY {
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.Input_checkboxInput__Ucn10 {
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #fff;
    min-width: 14px;
    height: 14px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    margin: 3px 8px 3px 3px
}

.Input_checkboxInput__Ucn10:disabled {
    border: 2px solid #b1b4b9 !important
}

.Input_checkboxInput__Ucn10:active,
.Input_checkboxInput__Ucn10:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1)
}

.Input_checkboxInput__Ucn10:checked {
    background-color: var(--checkColor);
    border: 2px solid var(--checkColor);
    color: #000
}

.Input_checkboxInput__Ucn10:checked.Input_error__Dct9S {
    background-color: #f7b0b1 !important;
    border: 2px solid #f7b0b1 !important
}

.Input_checkboxInput__Ucn10:checked:disabled {
    background-color: #b1b4b9 !important
}

.Input_checkboxInput__Ucn10:checked:after {
    content: "✓";
    background-color: var(--checkColor);
    font-size: 12px;
    font-weight: 900;
    position: absolute;
    top: -2px;
    left: 1px;
    bottom: 0;
    right: 0;
    color: #000
}

.Input_inputSelectUnderline__M65Lz {
    height: 2px !important
}

.Input_inputSelectContainer__1ak91 .Input_inputSelectUnderline__M65Lz>div {
    transform: scaleX(0);
    transition: transform .2s ease-out
}

.Input_inputSelectContainer__1ak91:focus-within .Input_inputSelectUnderline__M65Lz>div {
    transform: scaleX(1) !important
}

.Input_inputSelectContainer__1ak91:focus-within .Input_suggestionList__LKCrh {
    visibility: visible !important;
    display: block !important
}

.Input_toggleCheckbox__40Izh~button {
    right: 100%;
    transform: translateX(100%);
    transition: all .15s ease-out;
    background-color: var(--button-color-off)
}

.Input_toggleCheckbox__40Izh~div {
    background-color: var(--background-color-off);
    transition: all .15s ease-out
}

.Input_toggleCheckbox__40Izh:checked~button {
    right: 0;
    transform: translateX(0);
    background-color: var(--button-color-on)
}

.Input_toggleCheckbox__40Izh:checked~div {
    background-color: var(--background-color-on)
}